body {
  overflow: hidden;
  margin: 0;
  text-rendering: optimizeLegibility;
}

.fullPage_container {

  position: relative;
  overflow: hidden;
  transition: 1s cubic-bezier(0.5, 0, 0.5, 1);


  .panel {
    position: relative;
    height: 100vh;
    overflow: hidden;
    font-size: 10vmin;
    padding: 1em;
    box-sizing: border-box;
    color: hsla(0deg, 0%, 100%, 0.1);
    cursor: default;
  }

}

.nav {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
  width: 10%;
  height: 10%;

  position: fixed;
  top: 50%;
  bottom: 50%;
  right: 1vw;
  transform: translateY(-50%);

  border: 1px solid white;

  .point {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: wheat;
    }

    &.active {
      transform: scale(1.1);
    }
  }
}