@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Source+Code+Pro:wght@300;400&display=swap');

$bcMain: #000000;
$bcHeader: #1b1b1b;

$orange: #ff9000;
$orange2: #f90;

$white: #ffffff;
$gray4white: #1b1b1b;

$grayColor: #c6c6c6;
$gray4gray: #151515;


* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  background-color: $bcHeader;
  color: #c6c6c6;
  margin: 0;
}

a {
  color: $orange;
  text-decoration: none;

  &:visited, &:active, &:link, &:focus {
    text-decoration: none;
  }
}

.icon {
  color: $orange;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

header.header {
  background-color: $bcHeader;

  padding-top: 30px;

  .header__title {
    margin-top: 0;
    padding: 10px;

    font-size: 40px;
    text-align: center;
    margin-bottom: 0;

    .header__lastName {
      color: $white
    }

    .header__firstName {
      background-color: $orange;
      color: $bcMain;
      padding: 0 3px;
      border-radius: 5px;
      font-weight: bold;
    }
  }


  &.scrolled {
    position: sticky;
    top: 0;

    .header__title {
      font-size: 30px;
      text-align: left;
    }
  }
}


.me {
  display: flex;
  flex-direction: column;
  align-items: center;

  .me__container {
    width: 90vw;
    height: 83vh;
    padding-top: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .me__photo {
      flex-basis: 30%;

      img {
        width: 100%;
        border-radius: 45% 30%;
      }
    }

    .me__about {
      flex-basis: 50%;
      height: 50%;
      padding: 15px 0;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      position: relative;
    }


    .me__skills {
      flex-basis: 100%;

      padding: 70px 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      span {
        flex-basis: 30%;
        text-align: center;
      }

      .icon {
        font-size: 60px;
      }

    }

    .me__links {
      flex-basis: 100%;

      display: flex;
      justify-content: center;

      a {
        display: inline-block;
        margin: 40px auto;
        font-size: 50px;
      }
    }
  }
}

.commercial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bcMain;

  .commercial__container {
    color: #c6c6c6;
    width: 90vw;
    min-height: 85vh;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;

    .commercial__title {
      flex-basis: 100%;
      text-align: center;

      h3 {
        font-size: 35px;
      }
    }

    .commercial__body {
      flex-basis: 100%;
    }
  }
}

.diy {
  display: flex;
  flex-direction: column;
  align-items: center;

  .diy__container {
    color: #c6c6c6;
    width: 90vw;
    min-height: 85vh;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;

    .diy__title {
      flex-basis: 100%;
      text-align: center;

      h3 {
        font-size: 35px;
      }
    }

    .diy__body {
      flex-basis: 100%;
      padding-top: 50px;

    }
  }
}


div[class$='__next'] {
  flex-basis: 100%;
  text-align: center;
  font-size: 25px;

  @keyframes arrow {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }

  span.arrow {
    display: inline-block;
    animation: arrow 1.5s ease-in-out infinite;
  }
}


div[class$="__body"] {
  ul {
    list-style: none;

    li {
      font-size: 24px;
      text-align: left;
      padding-left: 5px;
      cursor: pointer;

      &::before {
        content: ">>";
        display: inline-block;
        transition: rotate 1s ease-in-out;
      }

      &.active::before {
        display: inline-block;
        content: ">>";
        rotate: 90deg;

        transition: rotate 1s ease-in-out;
      }

      & > span {
        border-bottom: 1px solid $white;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }

      .diy__item-body, .commercial__item-body {
        cursor: default;

        a {
          padding-bottom: 2px;
          border-bottom: 2px solid $orange;
        }

        &.hide {
          display: none;
        }

        p {
          margin: 10px 0;
          line-height: 32px;

          span {
            border-bottom: 1px dashed $white;
          }
        }

      }
    }
  }
}