@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Source+Code+Pro:wght@300;400&display=swap');

$bcMain: #000000;
$bcHeader: #1b1b1b;

$orange: #ff9000;
$orange2: #f90;

$white: #ffffff;
$gray4white: #1b1b1b;

$grayColor: #c6c6c6;
$gray4gray: #151515;


* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}


body::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $bcMain;
}

body::-webkit-scrollbar-thumb {
  background-color: $grayColor; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}


body {
  background-color: $bcHeader;
  color: #c6c6c6;
  margin: 0;
}

a {
  color: $orange;
  text-decoration: none;

  &:visited, &:active, &:link, &:focus {
    text-decoration: none;
  }
}

.icon {
  color: $orange;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

header.header {
  background-color: $bcHeader;

  padding-top: 30px;

  .header__title {
    margin-top: 0;
    padding: 10px;

    font-size: 40px;
    text-align: center;
    margin-bottom: 0;

    .header__lastName {
      color: $white
    }

    .header__firstName {
      background-color: $orange;
      color: $bcMain;
      padding: 0 3px;
      border-radius: 5px;
      font-weight: bold;
    }
  }

  @media only screen and (min-width: 2000px) {
    padding-top: 40px;
    .header__title {
      font-size: 60px;
    }
  }
}


.me {
  display: flex;
  flex-direction: column;
  align-items: center;

  .me__container {
    width: 90vw;
    padding-bottom: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    .me__photo {
      //flex-basis: 30%;

      img {
        width: 100%;
        border-radius: 45% 30%;
      }
    }

    .me__about {
      flex-basis: 50%;
      height: auto;
      padding: 15px 0;
      font-size: 20px;
      line-height: 26px;
      text-align: left;
      position: relative;
      text-indent: 1em;
    }

    .me__links {
      flex-basis: 100%;

      display: flex;
      justify-content: center;

      a {
        display: inline-block;
        margin: 40px auto;
        font-size: 50px;
      }
    }
  }
}

.commercial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $bcMain;

  .commercial__container {
    color: #c6c6c6;
    width: 90vw;
    min-height: 85vh;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;

    .commercial__title {
      flex-basis: 100%;
      text-align: center;

      h3 {
        font-size: 35px;
      }
    }

    .commercial__body {
      flex-basis: 100%;
    }
  }
}

.diy {
  display: flex;
  flex-direction: column;
  align-items: center;

  .diy__container {
    color: #c6c6c6;
    width: 90vw;
    min-height: 85vh;
    padding-top: 70px;
    padding-bottom: 70px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;

    .diy__title {
      flex-basis: 100%;
      text-align: center;

      h3 {
        font-size: 35px;
      }
    }

    .diy__body {
      flex-basis: 100%;
      padding-top: 50px;

    }
  }
}


div[class$='__next'] {
  flex-basis: 100%;
  text-align: center;
  font-size: 25px;

  @keyframes arrow {
    0% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
    }
  }

  span.icon-thick-arrow-down {
    display: inline-block;
    color: inherit;
    animation: arrow 1.5s ease-in-out infinite;
  }

  @media only screen and (min-width: 2000px) {
    font-size: 40px;
  }
}


div[class$="__body"] {
  ul {
    list-style: none;

    li {
      font-size: 24px;
      text-align: left;
      padding-left: 5px;
      cursor: pointer;

      &::before {
        content: ">>";
        display: inline-block;
        transition: rotate 1s ease-in-out;
      }

      &.active::before {
        display: inline-block;
        content: ">>";
        rotate: 90deg;

        transition: rotate 1s ease-in-out;
      }

      & > span {
        border-bottom: 1px solid $white;
      }

      &:not(:first-child) {
        margin-top: 20px;
      }

      .diy__item-body, .commercial__item-body {
        cursor: default;

        a {
          padding-bottom: 2px;
          border-bottom: 2px solid $orange;
        }

        &.hide {
          display: none;
        }

        p {
          margin: 10px 0;
          line-height: 32px;

          span {
            border-bottom: 1px dashed $white;
          }
        }

      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .me {
    .me__container {
      padding-top: 50px;

      .me__photo {
        flex-basis: 100%;

        img {
          width: 100%;
          border-radius: 45% 30%;
        }
      }

      .me__about {
        flex-basis: 100%;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  .commercial {
    .commercial__container {
      padding-bottom: 20px;

      .commercial__title {
        h3 {
          font-size: 25px;
        }
      }

      .commercial__body {
        ul {
          padding: 0;

          li {
            padding: 0;

            font-size: 20px;

            &::before {
              display: none;
            }

            &:not(:first-child) {
              margin-top: 30px;
            }

            .commercial__item-body {

              a {
                padding-bottom: 2px;
                border-bottom: 2px solid $orange;
              }

              &.hide {
                display: block;
              }

              p {
                margin: 10px 0;
                line-height: 26px;
                font-size: 18px;

                span {
                  border-bottom: 1px dashed $white;
                }
              }

            }
          }
        }
      }
    }
  }

  .diy {
    .diy__container {
      padding-bottom: 20px;

      .diy__title {
        h3 {
          font-size: 25px;
        }
      }

      .diy__body {
        ul {
          padding: 0;

          li {
            padding: 0;

            font-size: 20px;

            &::before {
              display: none;
            }

            &:not(:first-child) {
              margin-top: 30px;
            }

            .diy__item-body {

              a {
                padding-bottom: 2px;
                border-bottom: 2px solid $orange;
              }

              &.hide {
                display: block;
              }

              p {
                margin: 10px 0;
                line-height: 26px;
                font-size: 18px;

                span {
                  border-bottom: 1px dashed $white;
                }
              }
            }
          }
        }
      }
    }
  }

}

@media only screen and (min-width: 600px) {
  .me {
    .me__container {
      padding-top: 50px;

      .me__photo {
        flex-basis: 40%;

        img {
          width: 100%;
          border-radius: 45% 30%;
        }
      }

      .me__about {
        align-self: flex-start;
        flex-basis: 50%;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .me {
    .me__container {
      padding-top: 50px;
      min-height: 57vh;

      .me__photo {
        flex-basis: 50%;

        img {
          width: 100%;
          border-radius: 45% 30%;
        }
      }

      .me__about {
        align-self: center;
        flex-basis: 40%;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .me {
    .me__container {
      padding-top: 50px;

      .me__photo {
        flex-basis: 40%;

        img {
          width: 100%;
          border-radius: 45% 30%;
        }
      }

      .me__about {
        flex-basis: 50%;
        font-size: 20px;
        line-height: 26px;
      }

      .me__links {
        a {
          margin: 30px auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .me {
    .me__container {
      min-height: 83vh;
      padding-top: 70px;

      .me__photo {
        flex-basis: 30%;
      }

      .me__about {
        flex-basis: 50%;
        font-size: 24px;
        line-height: 30px;
      }

      .me__links {

        a {
          margin: 40px auto;
        }
      }

    }
  }
}

@media only screen and (min-width: 2000px) {
  .me {
    .me__container {
      min-height: 88vh;
      padding-top: 50px;

      .me__photo {
        flex-basis: 35%;
      }

      .me__about {
        flex-basis: 45%;
        font-size: 46px;
        line-height: 58px;
      }

      .me__links {

        a {
          margin: 40px auto;
        }
      }

    }

  }
}


