@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Source+Code+Pro:wght@300;400&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

body {
  background-color: #1b1b1b;
  color: #c6c6c6;
  margin: 0;
}

a {
  color: #ff9000;
  text-decoration: none;
}
a:visited, a:active, a:link, a:focus {
  text-decoration: none;
}

.icon {
  color: #ff9000;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

header.header {
  background-color: #1b1b1b;
  padding-top: 30px;
}
header.header .header__title {
  margin-top: 0;
  padding: 10px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
}
header.header .header__title .header__lastName {
  color: #ffffff;
}
header.header .header__title .header__firstName {
  background-color: #ff9000;
  color: #000000;
  padding: 0 3px;
  border-radius: 5px;
  font-weight: bold;
}
header.header.scrolled {
  position: sticky;
  top: 0;
}
header.header.scrolled .header__title {
  font-size: 30px;
  text-align: left;
}

.me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.me .me__container {
  width: 90vw;
  height: 83vh;
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.me .me__container .me__photo {
  flex-basis: 35%;
}
.me .me__container .me__photo img {
  width: 100%;
  border-radius: 40% 30%;
}
.me .me__container .me__about {
  flex-basis: 50%;
  height: 50%;
  padding: 15px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  position: relative;
}
.me .me__container .me__skills {
  flex-basis: 100%;
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.me .me__container .me__skills span {
  flex-basis: 30%;
  text-align: center;
}
.me .me__container .me__skills .icon {
  font-size: 60px;
}
.me .me__container .me__links {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
.me .me__container .me__links a {
  display: inline-block;
  margin: 40px auto;
  font-size: 50px;
}

.commercial {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
}
.commercial .commercial__container {
  color: #c6c6c6;
  width: 90vw;
  height: 85vh;
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-between;
}
.commercial .commercial__container .commercial__title {
  flex-basis: 100%;
  text-align: center;
}
.commercial .commercial__container .commercial__title h3 {
  font-size: 35px;
}
.commercial .commercial__container .commercial__body {
  flex-basis: 100%;
}
.commercial .commercial__container .commercial__body ul {
  list-style: none;
}
.commercial .commercial__container .commercial__body ul li {
  font-size: 24px;
  text-align: left;
  padding-left: 5px;
  cursor: pointer;
}
.commercial .commercial__container .commercial__body ul li::before {
  content: ">>";
}
.commercial .commercial__container .commercial__body ul li.active::before {
  content: "<<";
}
.commercial .commercial__container .commercial__body ul li > span {
  border-bottom: 1px solid #ffffff;
}
.commercial .commercial__container .commercial__body ul li:not(:first-child) {
  margin-top: 20px;
}
.commercial .commercial__container .commercial__body ul li .commercial__item-body.hide {
  display: none;
}
.commercial .commercial__container .commercial__body ul li .commercial__item-body p {
  margin: 10px 0;
}
.commercial .commercial__container .commercial__body ul li .commercial__item-body p span {
  border-bottom: 1px dashed #ffffff;
}

div[class$=__next] {
  text-align: center;
  font-size: 25px;
}
@keyframes arrow {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
div[class$=__next] span.arrow {
  display: inline-block;
  animation: arrow 1.5s ease-in-out infinite;
}

/*# sourceMappingURL=index.css.map */
